<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KORM - {{if .error}}error{{else}}{{.dish.Name}}{{end}}</title>
</head>
<body>
<div class="grid-container">

{{template "header" .header}}

<div class="body">
{{if .error}}
    <h2>Ошибка:</h2>
    <h3>{{.error}}</h3>
{{else}}
    {{with .dish}}
        <h3>{{.Name}}</h3>
        <h4>{{.KindDesc}}</h4>
        <hr>
        <p><i>{{if .Description}}{{.Description}}{{else}}Без описания.{{end}}</i></p>
        <div>{{if .Quantity}} {{.Quantity}} осталось.{{else}}Sold out{{end}}</div>
        <form name="add-dish" action="/api/add_dish">
            <input type="submit" value="Добавить порции">
            <input name="delta" type="number" min="1" required placeholder="кол-во">
            <input style="display: none" name="id" value="{{.ID}}">
            <input style="display: none" name="serve_html" value="true">
        </form>
        <button id="del">Удалить блюдо</button>
    {{end}}
{{end}}
</div>

{{template "footer"}}

</div>
<script>
    let del = document.querySelector("#del")

    del.onclick = function() {
        if (confirm("Are you sure you want to delete this dish? This cannot be undone.")) {
            window.open("/api/del_dish?id={{.dish.ID}}&serve_html=true", "_self")
        }

        return true
    }
</script>

</body>
</html>