<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dishes - {{if .error}}error{{else}}{{.dish.Name}}{{end}}</title>
</head>
<body>

{{template "header" .header}}

{{if .error}}
    <h2>Error:</h2>
    <h3>{{.error}}</h3>
{{else}}
    {{with .dish}}
        <h3>{{.Name}}</h3>
            <hr>
            <p>{{if .Description}}{{.Description}}{{else}}No description.{{end}}</p>
            <div>{{if .Quantity}} {{.Quantity}} left in stock {{else}} Sold out {{end}}</div>
    {{end}}
{{end}}

{{template "footer"}}

</body>
</html>