<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        div.right-bar {
            background: beige;
            border: slategrey;
            float: right;
        }

        div.head {
            float: top;
            background: burlywood;
            overflow: hidden;
        }

        div.err {
            color: red;
        }
    </style>
</head>
<body>

{{template "header" .header}}

<div class="main">
    <h2>Welcome, {{.name}}!</h2>
    <ul>
        <li><a href="/admin/order">Make an order</a></li>
        <li><a href="/admin/new_dish">Add new dish</a></li>
    </ul>
</div>

<div class="right-bar">
    <h4>Dishes:</h4> <br>
    {{if .dishes_error}}
        <div class="err">{{.dishes_error}}</div>
    {{else}}
        <table>
                <tr><th>Name</th><th>Quantity</th><th></th></tr>
                {{with .dishes}}
                    {{range . }}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Quantity}}</td>
                            <td><a href="/admin/dishes/{{.ID}}">more info</a></td>
                        </tr>
                    {{end}}
                {{end}}
        </table>
    {{end}}
</div>

{{template "footer"}}

</body>
</html>