<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KORM - Login</title>

    {{template "style"}}
</head>
<body>
<div class="grid-container">

{{template "header"}}

<div class="body">
    <div class="whole">
        <div class="menu" style="width: 40%">
            <h3>Войдите в систему, чтобы продолжить:</h3>

            <form name="login">
                <div class="row">
                    <label>username: <input type="text" name="username" required pattern="[a-zA-Z0-9 ]+" maxlength="15"></label>
                </div>
                <div class="row">
                    <label>password: <input type="password" name="password" required></label>
                </div>
                <div class="row">
                    <input type="submit" value="Войти" id="submit">
                </div>
            </form>
            <div id="status"></div>
        </div>
    </div>
</div>

{{template "footer"}}
</div>
<script>
    let status = document.querySelector("#status")

    document.forms["login"].onsubmit = function( event ) {
        event.preventDefault()

        let username = this.username.value
        let password = this.password.value

        fetch("/api/auth?username=" + username + "&password=" + password)
            .then(function( response ){
                if (response.ok) {
                    return response.json()
                } else {
                    status.innerHTML = "произошла ошибка, повторите запрос позже"
                }
            })
            .then(function( respJSON ){
                if (respJSON["ok"]) {
                    document.cookie = "username=" + username + ";path=/"
                    document.cookie = "auth=" + respJSON["token"] + ";path=/"
                    window.open("/admin", "_self")
                } else {
                    status.innerHTML = "неверное имя пользователя или пароль"
                }
            })
            .catch(function( error ){
                console.log(error)
            })

        return true
    }
</script>
</body>
</html>