<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KORM - Добавить блюдо</title>
</head>
<body>
<div class="grid-container">

{{template "header" .header }}

<div class="body">
    {{if .error}}
    <h3>Произошла ошибка: {{.error}}</h3>
    {{else}}

    <form action="/api/new_dish" id="new-dish">
        <table>
            <tr><td><label for="name">Название блюда:</label></td>
                <td><input id="name" name="name" type="text" maxlength="25" required></td></tr>

            <tr><td><label for="desc">Описание (опционально):</label></td><td></td></tr>
            <tr><td colspan="2"><textarea id="desc" name="description" form="new-dish" rows="2" ></textarea></td></tr>

            <tr><td><label for="qtty">Количество:</label></td><td><input id="qtty" name="quantity" type="number" min="0" required></td></tr>

            <tr><td><label for="kind">Тип:</label></td><td>
                    <select id="kind" name="kind" size="1" form="new-dish" required>
                        {{range .kinds}}
                            <option value="{{.ID}}">{{.Description}}</option>
                        {{end}}
                    </select>
                </td></tr>
        </table>
        <input type="submit" value="Добавить блюдо">
        <input style="display: none" name="serve_html" value="true">
    </form>
    {{end}}
</div>

{{template "footer"}}

</div>
</body>
</html>