<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KORM - оформление заказа</title>
    {{template "style"}}
</head>
<body>
<div class="grid-container">

{{template "header" .header}}

<div class="body">
    <h4>Выберите блюда:</h4>
    {{if .dishes_error}}
    <div class="err">{{.dishes_error}}</div>
    {{else}}
    <form name="order">
            <table class="menu">
                <tr><th colspan="2">Название блюда</th><th>В наличии</th><th>Заказать</th></tr>
                {{with .dishes}}
                    {{range . }}
                        <tr class="item">
                            <td>{{.Name}}</td>
                            <td><i>({{.KindDesc}})</i></td>
                            <td>{{.Quantity}}</td>
                            <td><input type="number" min="0" max="{{.Quantity}}" value="0" name="{{.ID}}"></td>
                        </tr>
                    {{end}}
                {{end}}
            </table>
            <input type="submit" value="Оформить заказ">
    </form>
    {{end}}
    <div id="status"></div>
</div>

{{template "footer"}}

</div>
<script>
    let order_form = document.forms["order"]
    let status = document.querySelector("#status")

    order_form.onsubmit = function(event) {
        event.preventDefault()

        let order = []

        let field
        for (field of this.elements) {
            if (field.type === "number" && field.value !== "0") {
                order.push({dish_id: parseInt(field.name, 10), quantity: parseInt(field.value, 10)})
            }
        }

        open("/api/order?serve_html=true&items=" + JSON.stringify(order), "_self")
        return false
    }

</script>
</body>
</html>